<h1>{{ mainMenuText }}</h1>

<div class="products-grid">
</div>


<div class="search-container">
    <input
            type="text"
            [placeholder]="searchText.textSearchInput"
            class="search-input"
            [(ngModel)]="searchTerm"
            (ngModelChange)="onSearch()"
    >
</div>

<div class="product-list-container">

    @for (product of filteredProducts; track product.id) {
        <div class="product-item">
            <app-item-card [item]="product"></app-item-card>
        </div>
    } @empty {
        <p class="not-found-message">{{ searchText.searchTextFalse }}</p>
    }

</div>